layout {
  // see https://github.com/dj95/zjstatus/issues/8#issuecomment-1727079906
  // replaced `ui` with `tab` to work as desired with new tab template.
  tab name="main" {
    pane
  }

  // swaps from zellij setup --dump-swap-layout default
  swap_tiled_layout name="vertical" {
      tab max_panes=5 {
          pane split_direction="vertical" {
              pane
              pane { children; }
          }
      }
      tab max_panes=8 {
          pane split_direction="vertical" {
              pane { children; }
              pane { pane; pane; pane; pane; }
          }
      }
      tab max_panes=12 {
          pane split_direction="vertical" {
              pane { children; }
              pane { pane; pane; pane; pane; }
              pane { pane; pane; pane; pane; }
          }
      }
  }

  swap_tiled_layout name="horizontal" {
      tab max_panes=5 {
          pane
          pane
      }
      tab max_panes=8 {
          pane {
              pane split_direction="vertical" { children; }
              pane split_direction="vertical" { pane; pane; pane; pane; }
          }
      }
      tab max_panes=12 {
          pane {
              pane split_direction="vertical" { children; }
              pane split_direction="vertical" { pane; pane; pane; pane; }
              pane split_direction="vertical" { pane; pane; pane; pane; }
          }
      }
  }

  swap_tiled_layout name="stacked" {
      tab min_panes=5 {
          pane split_direction="vertical" {
              pane
              pane stacked=true { children; }
          }
      }
  }

  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="file:/Users/lore/.config/zellij/zjstatus.wasm" {
        color_fg      "15"
        color_bind    "123"
        color_accent  "208"
        color_bg      "234"

        color_pane   "80"
        color_tab    "82"
        color_resize "5"
        color_move   "226"
        color_search "208"

        format_left  "#[fg=$fg,bg=$bg]{mode}"
        format_right ""
        format_space "#[fg=250,bg=$bg]"

        mode_normal        "#[fg=9,bold,bg=$bg]g#[fg=$fg,bg=$bg]:lock  #[fg=$pane,bold,bg=$bg]p#[fg=$fg,bg=$bg]ane  #[fg=$tab,bold,bg=$bg]⇥#[fg=$fg,bg=$bg]:tab  #[fg=$resize,bold,bg=$bg]n#[fg=$fg,bg=$bg]:resize  #[fg=$move,bold,bg=$bg]h#[fg=$fg,bg=$bg]:move  #[fg=$search,bold,bg=$bg]s#[fg=$fg,bg=$bg]earch         #[fg=$accent,bold,bg=$bg]⌥#[fg=$fg,bg=$bg]#[fg=$bind,bold,bg=$bg]n#[fg=$fg,bg=$bg]ew  #[fg=$accent,bold,bg=$bg]⌥#[fg=$fg,bg=$bg]#[fg=$bind,bold,bg=$bg]+-#[fg=$fg,bg=$bg]:resize  #[fg=$accent,bold,bg=$bg]⌥#[fg=$fg,bg=$bg]#[fg=$bind,bold,bg=$bg]←↑↓→#[fg=$fg,bg=$bg]:navigate  #[fg=$accent,bold,bg=$bg]⌘⇧#[fg=$bind,bold,bg=$bg][]#[fg=$fg,bg=$bg]:tab  #[fg=$accent,bold,bg=$bg]⌥#[fg=$fg,bg=$bg]#[fg=$bind,bold,bg=$bg][]#[fg=$fg,bg=$bg]:swap"
        mode_locked        ""
        mode_resize        "#[bg=$resize] {name} #[fg=$fg,bg=$bg]  #[fg=$bind,bold,bg=$bg]+#[fg=$fg,bg=$bg]:increase  #[fg=$bind,bold,bg=$bg]-#[fg=$fg,bg=$bg]:decrease  [#[fg=$bind,bold,bg=$bg]←↑↓→ hjkl#[fg=$fg,bg=$bg]]:increase  [#[fg=$bind,bold,bg=$bg]HJKL#[fg=$fg,bg=$bg]]:decrease"
        mode_pane          "#[fg=$bg,bg=$pane] {name} #[fg=$fg,bg=$bg]  #[fg=$bind,bold,bg=$bg]n#[fg=$fg,bg=$bg]ew  [#[fg=$bind,bold,bg=$bg]←↑↓→ hjlk#[fg=$fg,bg=$bg]]:navigate(#[fg=$accent,bold,bg=$bg]⇧#[fg=$fg,bg=$bg]:move)  #[fg=$bind,bold,bg=$bg]-d#[fg=$fg,bg=$bg]own #[fg=$bind,bold,bg=$bg]|r#[fg=$fg,bg=$bg]ight #[fg=$bind,bold,bg=$bg]+s#[fg=$fg,bg=$bg]tack  #[fg=$bind,bold,bg=$bg]x#[fg=$fg,bg=$bg]:close  #[fg=$bind,bold,bg=$bg],#[fg=$fg,bg=$bg]:rename  #[fg=$bind,bold,bg=$bg]f#[fg=$fg,bg=$bg]ullscreen  #[fg=$bind,bold,bg=$bg]w#[fg=$fg,bg=$bg]:floating  #[fg=$bind,bold,bg=$bg]e#[fg=$fg,bg=$bg]mbed"
        mode_tab           "#[fg=$bg,bg=$tab] {name} #[fg=$fg,bg=$bg]  #[fg=$bind,bold,bg=$bg]c#[fg=$fg,bg=$bg]reate  [#[fg=$bind,bold,bg=$bg]←→ pn hl#[fg=$fg,bg=$bg]]:navigate(#[fg=$accent,bold,bg=$bg]⇧#[fg=$fg,bg=$bg]:move)  #[fg=$bind,bold,bg=$bg]x#[fg=$fg,bg=$bg]:close  #[fg=$bind,bold,bg=$bg],#[fg=$fg,bg=$bg]:rename  #[fg=$bind,bold,bg=$bg]b[]#[fg=$fg,bg=$bg]:break"
        mode_scroll        "#[bg=$search] {name} #[fg=$fg,bg=$bg]  #[fg=$bind,bold,bg=$bg]s#[fg=$fg,bg=$bg]earch  [#[fg=$bind,bold,bg=$bg]↑↓ jk#[fg=$fg,bg=$bg]]:scroll  [#[fg=$bind,bold,bg=$bg]fb#[fg=$fg,bg=$bg]]:page  [#[fg=$bind,bold,bg=$bg]ud#[fg=$fg,bg=$bg]]:half page"
        mode_enter_search  "#[bg=$search] {name} "
        mode_search        "#[bg=$search] {name} #[fg=$fg,bg=$bg]  #[fg=$bind,bold,bg=$bg]n#[fg=$fg,bg=$bg]ext  #[fg=$bind,bold,bg=$bg]p#[fg=$fg,bg=$bg]rev  #[fg=$bind,bold,bg=$bg]c#[fg=$fg,bg=$bg]ase sensitive  #[fg=$bind,bold,bg=$bg]w#[fg=$fg,bg=$bg]rap  #[fg=$bind,bold,bg=$bg]o#[fg=$fg,bg=$bg]:whole words  #[fg=$bind,bold,bg=$bg]s#[fg=$fg,bg=$bg]earch  [#[fg=$bind,bold,bg=$bg]↑↓ jk#[fg=$fg,bg=$bg]]:scroll  [#[fg=$bind,bold,bg=$bg]fb#[fg=$fg,bg=$bg]]:page  [#[fg=$bind,bold,bg=$bg]ud#[fg=$fg,bg=$bg]]:half page"
        mode_rename_tab    "#[bg=$bg] {name} "
        mode_rename_pane   "#[bg=$bg] {name} "
        mode_session       "#[fg=$bg,bg=$fg] {name} #[fg=$fg,bg=$bg]  #[fg=$bind,bold,bg=$bg]q#[fg=$fg,bg=$bg]uit  #[fg=$bind,bold,bg=$bg]d#[fg=$fg,bg=$bg]etach  #[fg=$bind,bold,bg=$bg]m#[fg=$fg,bg=$bg]anager"
        mode_move          "#[fg=$bg,bg=$move] {name} #[fg=$fg,bg=$bg]  #[fg=$bind,bold,bg=$bg]n#[fg=$fg,bg=$bg]ext  #[fg=$bind,bold,bg=$bg]p#[fg=$fg,bg=$bg]rev  [#[fg=$bind,bold,bg=$bg]←↑↓→ hjkl#[fg=$fg,bg=$bg]]:move"
        mode_tmux          "#[bg=$bg] {name} "
      }
    }
    pane size=1 borderless=true {
      plugin location="file:/Users/lore/.config/zellij/zjstatus.wasm" {
        color_fg      "15"
        color_fg-     "250"
        color_fg--    "237"
        color_fgsel   "50"
        color_fgsel-  "81"
        color_fgsel-- "39"
        color_fgdull  "138"
        color_bg      "234"
        color_bg+     "235"
        color_bg++    "238"

        format_left  "#[fg=$fg,bg=$bg]{#[fg=83,bold,bg=$bg]host#[fg=$fg,bg=$bg]} {tabs}"
        format_right "#[bg=$bg]λ {datetime}"
        format_space "#[bg=$bg]"

        tab_separator "#[bg=$bg] "

        tab_normal            "#[fg=$fgdull,bg=$bg+] {index}#[fg=$fg--,bg=$bg+]:#[fg=$fg-,bg=$bg+]{name}#[fg=$fgsel--,bg=$bg+] "
        tab_normal_fullscreen "#[fg=$fgdull,bg=$bg+] {index}#[fg=$fg--,bg=$bg+]:#[fg=$fg-,bg=$bg+]{name}#[fg=$fgsel--,bg=$bg+]F "
        tab_normal_sync       "#[fg=$fgdull,bg=$bg+] {index}#[fg=$fg--,bg=$bg+]:#[fg=$fg-,bg=$bg+]{name}#[fg=$fgsel--,bg=$bg+]S "

        tab_active            "#[fg=$fgsel-,bg=$bg++,bold] {index}#[fg=$fg-,bg=$bg++]:#[fg=$fg,bg=$bg++,bold]{name}#[fg=$fgsel,bg=$bg++,bold]* "
        tab_active_fullscreen "#[fg=$fgsel-,bg=$bg++,bold] {index}#[fg=$fg-,bg=$bg++]:#[fg=$fg,bg=$bg++,bold]{name}#[fg=$fgsel,bg=$bg++,bold]F* "
        tab_active_sync       "#[fg=$fgsel-,bg=$bg++,bold] {index}#[fg=$fg-,bg=$bg++]:#[fg=$fg,bg=$bg++,bold]{name}#[fg=$fgsel,bg=$bg++,bold]S* "

        tab_rename "#[fg=$fgsel-,bg=$bg++,bold] {index}#[fg=$fg-,bg=$bg++]:#[fg=208,bg=$bg++,bold]{name}#[fg=$fgsel,bg=$bg++,bold] "

        datetime          "#[fg=$bg,bg=$fg,bold] {format} "
        datetime_format   "%a, %b %d %H:%M"
        datetime_timezone "US/Eastern"
      }
    }
  }
}
